<div id="sideNav" class="login_sidenav">
    <form>
        <div class="container">
            <a href="#" class="closebtn">&times;</a>
            <div class="row">Please Login:</div>
            <div class="row">
                <input type="text" class="sidenav-input" placeholder="Username" name="username" [(ngModel)]="username">
            </div>
            <div class="row">
                <input type="text" class="sidenav-input" placeholder="Password" name="password" [(ngModel)]="password">
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg" (click)="loginClicked()">Login</button>
            </div>
        </div>
    </form>
</div>